* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  width: 100vw;
  height: 100vh;
}

body::before {
  content: "";
  background-image: url("../public/assets/background.jpg");
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1vw;
  gap: 1vw;
  height: 100vh;

  
}


.App > h1 {
  animation: typing 2s steps(14) forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  text-align: center;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.App > select {
  width: 15vw;
  height: 4vh;
  background-color: rgb(184, 144, 98, 0.6);
  color: #0c497e;
  border-color: #303f56;
  border-width: 2px;
  font-size: 1vw;
}

.InputDateDiv > input {
  width: 8vw;
  height: 3vh;
  font-size: 1vw;
  color:#303f56;
  
}

.Figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: first baseline;
  margin: 3vw;
  gap: 2vh;
  max-height: 70vh;
  width: 90vw;
}

.FigureImg, .FigureText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  max-width: 100%;
}

.FigureImg > h2 {
  font-size: 1.8vw;


} 

.FigureImg > img {
  width: auto;
  max-width: 50vw;
  max-height: 60vh;
  border-radius: 5px;
  margin: 0 auto;
} 

.FigureImg > p {
  font-size: 1.3vw;
} 

.FigureText > h4 {
  font-size: 1.5vw;
  line-height: 2;
  text-align: justify;
}

.noPhotoP {
  font-size: 1.3vw;
  padding: 2vw;
  text-align: center;
}
@media  (max-width: 1023px) {

  .App > h1 {
    font-size: 4.2vw;
    margin: 1.2vw
  }


  .App > select {
    width: 35vw;
    height: 4vh;  
    font-size: 2.2vw;
  }

  
  .InputDateDiv > input {
  width: 17vw;
  height: 3.5vh;
  font-size: 1.8vw;
  }

  .Figure {
  flex-direction: column;
  overflow: auto;
  justify-content: flex-start;
  }

  .FigureImg, .FigureText{
    width: 100%;
    height: 100%;
    justify-content: start;
  }

  .FigureImg > h2 {
    font-size: 2.6vw;
   
  } 

  .FigureImg > p {
    font-size: 2vw;
  } 

  .FigureText > h3 {
    font-size: 2.2vw;

  }

  .FigureText > h4 {
    font-size: 2vw;
  }

  .noPhotoP {
    font-size: 2.3vw;

  }

  .Figure::-webkit-scrollbar {
    width: 6px;
    border-radius: 5px;
 
  }
  
  .Figure::-webkit-scrollbar-track {
    background-color: rgb(184, 144, 98, 0.6);
    border-radius: 5px; 
  }
  
  .Figure::-webkit-scrollbar-thumb {
    background-color: #303f56;
    border-radius: 5px; 
  }

  .Figure::-webkit-scrollbar-thumb:hover {
    background-color:#0c497e;
  }
  
}